name: Deploy to EC2

on:
  pull_request:
  push:
    branches:
      - develop

jobs:
   Deploy:
    needs: build
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v2 
      - name: Deploy in EC2
        env:
            PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY  }}
            HOSTNAME : ${{ secrets.HOSTNAME  }}
            USER_NAME : ${{ secrets.USER_NAME  }}
            
        run: |
          echo "$PRIVATE_KEY" > private_key && chmod 600 private_key
          ssh -o StrictHostKeyChecking=no -i private_key ${USER_NAME}@${HOSTNAME} '
          
            #Now we have got the access of EC2 and we will start the deploy .
            cd /var/www/html/db-service &&
            git pull origin feature/cd-deployment
          '

# jobs:
#   deploy:
    # runs-on: ubuntu-latest
    # env:
    #     DATABASE_URL: ${{ secrets.DATABASE_URL }}
    #     SECRET_KEY_BASE: ${{ secrets.SECRET_KEY_BASE }}
    #     PHX_HOST: ${{ secrets.PHX_HOST }}
    #     WHITELISTED_DOMAINS: ${{ secrets.WHITELISTED_DOMAINS }}
    #     POOL_SIZE: ${{ secrets.POOL_SIZE }}

    # steps:

    #   - name: Echo Environment Variables
    #     run: |
    #       echo "DATABASE_URL: $DATABASE_URL"
    #       echo "SECRET_KEY_BASE: $SECRET_KEY_BASE"
    #       echo "PHX_HOST: $PHX_HOST"
    #       echo "WHITELISTED_DOMAINS: $WHITELISTED_DOMAINS"
    #       echo "POOL_SIZE: $POOL_SIZE"

    #   - name: Checkout code
    #     uses: actions/checkout@v2

    #   - name: Configure SSH
    #     uses: webfactory/ssh-agent@v0.5.0
    #     with:
    #       ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

    #   - name: Clear SSH known hosts
    #     run: |
    #       rm -f ~/.ssh/known_hosts

    #   - name: Set up SSH known hosts
    #     run: |
    #       mkdir -p ~/.ssh
    #       touch ~/.ssh/known_hosts
    #       ssh-keyscan 3.108.135.26 >> ~/.ssh/known_hosts
    
    #   - name: Deploy to EC2
    #     run: |
    #       echo "$SSH_PRIVATE_KEY" > deploy_key
    #       chmod 600 deploy_key
    #       ssh -i deploy_key ubuntu@3.108.135.26 'cd /var/www/html/db-service && echo "Pulling latest code" && sudo git pull origin feature/cd-for-staging && echo "Remove swagger" && sudo rm /var/www/html/db-service/priv/static/swagger.json && bash '
