name: Deploy to EC2 Staging

on:
  push:
    branches: ["feat/terraform-init"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

  Deploy:
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: Staging

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Extract branch name
        id: extract_branch
        shell: bash
        run: echo "branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
      
      - name: Deploy in EC2
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ap-south-1
          BASTION_HOST_PRIVATE_KEY: ${{ secrets.STAGING_BASTION_HOST_PRIVATE_KEY }}
          BRANCH_NAME_TO_DEPLOY: ${{ steps.extract_branch.outputs.branch }}
          BASTION_HOST_INSTANCE_NAME: "staging-DB-Bastion-Host"
          TARGET_GROUP_NAME: "staging-DB-lb-alb-tg"
          ENVIRONMENT_PREFIX: "staging-DB-"
        run: |
          echo "Deploying branch: $BRANCH_NAME_TO_DEPLOY"
          bash deployment/runOnGithubAction.sh
